<mat-card *ngIf="contactoOriginal">
  <mat-card-title>
    Editar Contacto
  </mat-card-title>
  <mat-card-content>
    <form novalidate [formGroup]="form" (ngSubmit)="onGuardar()">
        <mat-form-field>
        <input type="text" matInput  placeholder="nombre" formControlName="nombre">
        </mat-form-field>
      <mat-form-field>
        <input type="text" matInput  placeholder="apellidos" formControlName="apellidos">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput  placeholder="telefono" formControlName="telefono">
        </mat-form-field>
      <mat-form-field>
        <input type="text" matInput  placeholder="ciudad" formControlName="ciudad">
        </mat-form-field>
      <button type="submit" mat-button="">Guardar</button>
      <button type="button" mat-button="" (click)="onCancelar()">Cancelar</button>
    </form>
  </mat-card-content>
</mat-card>
